<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen Final</title>
    <link rel="stylesheet" href="/assets/CSS/style.css"> 
</head>
<body>
    {{> header }} 

    <main>
        <section>
            <h2>¿Qué son los autos eléctricos?</h2>
            <p>Los autos eléctricos son vehículos que utilizan uno o más motores eléctricos para su propulsión, en lugar de depender de motores de combustión interna que queman combustible fósil.</p>
        </section>

        <section>
            <h2>Características de los Autos Eléctricos</h2>
            <ul>
                <li>Emisiones cero: No producen emisiones contaminantes durante su funcionamiento.</li>
                <li>Menor costo de mantenimiento: Tienen menos piezas móviles que un motor de combustión interna, lo que reduce los costos de mantenimiento.</li>
                <li>Silencio: Funcionan de manera mucho más silenciosa que los vehículos convencionales.</li>
                <li>Recarga en casa: Pueden recargarse en casa, lo que proporciona comodidad y ahorro en combustible.</li>
                <li>Rendimiento: Muchos autos eléctricos ofrecen un rendimiento superior, con aceleración rápida y manejo ágil.</li>
            </ul>
        </section>

        <section>
            <h2>Imágenes</h2>
            <div class="image-grid">
                <div>
                    <h3>Tesla Model 3</h3>
                    <img src="/assets/images/1elec.png" alt="Tesla Model 3">
                </div>
                <div>
                    <h3>Tesla Cybertruck</h3>
                    <img src="/assets/images/2elec.png" alt="">
                </div>

            </div>
        </section>
    </main>

    {{> footer }} 

</body>
</html>
    </main>

    {{> footer }} 

</body>
</html>

