<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen Final</title>
    <link rel="stylesheet" href="/assets/CSS/style.css"> 
</head>
<body>
    {{> header }} 

    <main>
        <section>
            <h1>Vehículos de Gasolina</h1>
            <p>
                Los vehículos de gasolina son aquellos que utilizan combustibles derivados del petróleo para su funcionamiento. Estos vehículos son comunes en la mayoría de las carreteras y ofrecen una opción de transporte eficiente para muchas personas.
            </p>
            <p>
                Los automóviles, motocicletas y camionetas que funcionan con gasolina son esenciales para la movilidad urbana y rural, permitiendo que las personas se desplacen de un lugar a otro con facilidad. Su diseño y tecnología han evolucionado para ofrecer un mejor rendimiento y menor consumo de combustible.
            </p>
            <p>
                Además, los vehículos de gasolina han jugado un papel importante en la economía, ya que facilitan el transporte de bienes y servicios, contribuyendo al desarrollo de diversas industrias.
            </p>
            <div>
                <h2>Video sobre Vehículos de Gasolina</h2>
            <iframe width="882" height="496" src="https://www.youtube.com/embed/6k_1RHjXU3A" title="Los 10 AUTOS más ECONÓMICOS de GASOLINA en México 2024" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> 
           </div>
        </section>
    </main>

    {{> footer }} 

</body>
</html>