<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen Final</title>
    <link rel="stylesheet" href="/assets/CSS/style.css"> 
</head>
<body>
    {{> header }} 

    <main>
        <section>
            <h1>Vehículos de Descarga Terrestre</h1>
            <p>
                Los vehículos de descarga terrestre son aquellos que se utilizan para transportar mercancías y bienes por carretera o ferrocarril. 
                Se trata de una parte fundamental del sistema de logística y suministro, ya que permiten el transporte de productos entre diferentes lugares.
            </p>
            <p>
                Estos vehículos, como camiones y trenes, son esenciales para la cadena de suministro, facilitando el movimiento de mercancías desde los puntos de producción hasta los consumidores. 
                Su capacidad para transportar grandes volúmenes de productos a través de carreteras y vías férreas los convierte en una opción eficiente y versátil para la logística.
            </p>
            <p>
                Además, son clave para la distribución en áreas rurales y urbanas, asegurando que los bienes lleguen a su destino de manera oportuna.
            </p>
        </section>

        <section>
            <h2>Imágenes</h2>
            <div class="image-grid">
                <div>
                    <h3>Camion de carga</h3>
                    <img src="/assets/images/1home.png" alt="Tesla Model 3">
                </div>
                <div>
                    <h3></h3>
                    <img src="/assets/images/2home.jpg" alt="Nissan Leaf">
                </div>

            </div>
        </section>
    </main>

    {{> footer }} 

</body>
</html>